body{
	margin:0; 
	font-family: 'Yantramanav', sans-serif;
	background-image: url("https://images.pexels.com/photos/890515/pexels-photo-890515.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  	background-size: cover;
}